.list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-content: flex-start;
	height: 60vh;
	margin: 0px;
	padding: 20px 40px;
	background-color: #f3f3f3;
	list-style: none;
	overflow-y: auto;
}
.listItem {
	width: 100%;
	margin-bottom: 20px;
}
/* mobile */
@media (max-device-width: 767px), (max-width: 767px) {
	.list {
		padding: 20px;
		height: 90vh;
	}
}